doctype html
html
	head
		link(href='/dist/css/main-dist.css' rel='stylesheet' type='text/css')
	body
		block bodyLayout
		//- JS
		script(src='/dist/js/libs-dist.js')
		script(src='/dist/js/main-dist.js')