extends ../body-layout
block template
	//- ---------------------
	//- ---------------------
	h1 hello me view yy xyz
	h2= 'ahayoo ' + data.pageTitle
	p3= currentFileName
	p= 'devmode is: ' + devMode
	.myslider
		div
			h3 1
		div
			h3 2
		div
			h3 3
		div
			h3 4
		div
			h3 5
		div
			h3 6